<footer>
    <div class="footer_nav">
        <a href="/">Accueil</a>
        <a href="/produits">Notre catalogue</a>
        <a href="/a-propos">A propos</a>
        <a href="/contact">Contact</a>
    </div>
    <div class="footer_separator"></div>
    <p>© Thomas Gambin 2024 - Tous droit réservés</p>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="/js/map.js"></script>
    <script src="/js/script.js"></script>
</footer>
</body>