<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>o'Coffee</title>
    <link rel="icon" href="/static/00.assets/logo.svg" type="image/svg">
    <!-- Custom styles for this template -->
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/reset.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>

<body>
    <header>
        <div class="background_image"></div>
        <a href="/" class="logo-link">
            <img src="/static/00.assets/logo.svg" alt="oCofee Logo" class="logo">
        </a>
        <nav class="navbar">
            <div class="nav-links">
                <ul>
                    <li><a href="/" class="titre">O'Coffee</a></li>
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/produits">Notre catalogue</a></li>
                    <li><a href="/a-propos">A propos</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <img src="/static/00.assets/humberger.png" alt="menu-deroulant" class="menu-hamburger">
        </nav>
    </header>