<%- include ('partials/header'); %>
    <main>
        <section class="about">
            <div class="proprio_image">
                <img src="/static/404.png" alt="erreur 404">
            </div>
            <div class="not_found-text">
                <article>
                    <h1>Cette page n'est pas disponible</h1>
                    <p>
                        Oh, tu es sur une page qui n'existe pas. <br><br> Tu peux retourner à la page d'accueil en
                        cliquant sur le bouton ci-dessous, ou tu peux rester ici et te prendre un petit
                        café !<br><br>
                        <button><a href="/">Accueil</a></button>
                    </p>
                </article>
            </div>
        </section>
    </main>
    <%- include ('partials/footer'); %>