<%- include ('partials/header'); %>
    <main>
        <section class="about">
            <div class="proprio_image">
                <img src="/static/proprio.webp" alt="proprio">
            </div>
            <div class="about_text">
                <article>
                    <h1>Qui sommes nous</h1>
                    <p>
                        Nous, Bruce et Jacques Wayne, deux frères passionnés par l'univers du café, avons toujours rêvé
                        de créer notre propre boutique de café haut de gamme. L'occasion de concrétiser ce rêve est
                        arrivée lors d'un voyage inoubliable en Colombie, un pays célèbre pour ses plantations de café
                        renommées dans le monde entier. <br><br>
                        Au cours d'un voyage en Colombie, nous avons eu l'occasion de rencontrer des producteurs de café
                        passionnés qui nous ont partagé leurs connaissances et leur amour pour le processus de culture,
                        de récolte et de transformation du café. Nous avons été fascinés par l'attention méticuleuse
                        portée à chaque étape de la production, ainsi que par la diversité des saveurs et des arômes
                        uniques que les différents terroirs colombiens offraient. <br><br>
                        C'est à ce moment-là que l'étincelle de l'inspiration a embrasé notre esprit. Nous avons réalisé
                        que nous voulions partager cette passion pour le café de qualité avec le reste du monde. Notre
                        vision était de créer un lieu où les amateurs de café pourraient découvrir et déguster des
                        variétés de café exceptionnelles, tout en apprenant sur leur origine et leur processus de
                        production. <br><br>
                        De retour chez nous, nous avons mis en pratique nos idées et avons commencé à planifier
                        l'ouverture de notre boutique de café. Nous avons parcouru les fournisseurs, sélectionné avec
                        soin les meilleurs grains de café issus de plantations durables et équitables, et avons créé un
                        espace accueillant et chaleureux pour accueillir les amateurs de café. <br><br>
                        Notre boutique de café était bien plus qu'un simple commerce. C'était un lieu où nos clients
                        pouvaient vivre une expérience sensorielle unique, en explorant les différentes origines,
                        torréfactions et méthodes d'infusion. Nous nous sommes également engagés à soutenir les
                        communautés de producteurs de café en travaillant directement avec eux et en veillant à ce que
                        chaque tasse de café servie contribue à un commerce équitable et durable. <br><br>
                        Aujourd'hui, notre boutique de café est devenue une référence pour les amateurs de café de la
                        région. Notre passion, notre connaissance approfondie et notre engagement envers la qualité se
                        reflètent dans chaque tasse servie. Nous sommes fiers d'avoir transformé notre voyage en
                        Colombie en une aventure entrepreneuriale qui a permis à tant de personnes de découvrir et
                        d'apprécier le véritable plaisir du café.
                    </p>
                </article>
            </div>
        </section>
    </main>
    <%- include ('partials/footer'); %>