<%- include ('partials/header'); %>
    <main>
        <section class="about">
            <div id="map"></div>
            <div class="about_text">
                <article class="article_contact">
                    <div class="contact">
                        <h1>
                            Nous contacter
                        </h1>
                        <ul>
                            <li><strong>Téléphone : </strong>06 XX XX XX XX</li>
                            <li><strong>Adresse : </strong>12 Allée des Wayne</li>
                            <li><strong>Ville : </strong>83000 Gotham City</li>
                            <li><strong>Mail : </strong>bruce.wayne@gmaaaail.com</li>
                        </ul>
                </article>
            </div>
        </section>
    </main>
    <%- include ('partials/footer'); %>